@model IEnumerable<Fakturisanje.Models.DokumentFakture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj dokument", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedniBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ukupno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedniBroj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ukupno)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id = item.RedniBroj.ToString().Trim() }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.RedniBroj.ToString().Trim() }) |
            @Html.ActionLink("Obrisi", "Delete", new { id = item.RedniBroj.ToString().Trim() })
        </td>
    </tr>
}

</table>
